@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rentalax</h1>
    <h4>Rentalax: Where Renting Meets Relaxation - Your Trusted Source for Stress-Free Rentals!</h4>
    <p>Welcome to RentaLax, where you can easily rent out your belongings or discover unique items for rent at prices set by their owners. 
        Whether you have something special to offer or you're looking for a specific item, our platform connects people like you. List your items 
        with your preferred rental price, and interested renters can reach out to you through your ContactEmail. If your item is one-of-a-kind and 
        can't be found elsewhere, you can add a unique description and type to make it stand out.</p>
</div>
