@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rentalax</h1>
    <h4>Rentalax: Where Renting Meets Relaxation!</h4>
    <p>Welcome to RentaLax, where you can easily rent out your belongings or discover unique items for rent at prices set by their owners. 
        Whether you have something special to offer or you're looking for a specific item, our platform connects people like you. List your items 
        with your preferred rental price, and interested renters can reach out to you through your ContactEmail. If your item is one-of-a-kind and 
        can't be found elsewhere, you can add a unique description and type to make it stand out.</p>
    <a asp-controller="Items" asp-action="Index">
        <button class="btn btn-primary">Browse/Post Rentals</button>
    </a>
    <a asp-controller="ItemTypes" asp-action="Index">
        <button class="btn btn-primary">Add Types</button>
    </a>

    <h4>Mini-Tutorial:</h4>
    <p>->To Browse Rentals click on "Browse Rentals" in the nav bar or the button</p>
    <p>->To Browse Rental types click on "Rental types" in the nav bar</p>
    <p>->To Post your item for rentals navigate to Rentalables listing page and use the create button to add your rental item, you could do the same for types if you wish to do so</p>
    <p>->To edit, delete or view your posting use the buttons on the listing page for both rentables and types.</p>

    <h4>Guidlines to follow:</h4>
    <p>->Trolls, fake posters, scammers will face legal consequences for any damages to the customer or product.</p>
    <p>->If your item is solely for sale, your required to set your price per hour to 0 and if you item is for rent, you're required to set your price to 0.</p>
    <p>->Your free to edit your item specifications but your legally required to mention the changes in your conditions.</p>
    <p>->Malicious or Inappropriate use of contact emails will have monetary consequences which will be paid to the site and the item owner.</p>
    <p>->Have fun and be respectful to your fellow customers and maintain a safe plus healthy environment!</p>
</div>
