@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rentalax</h1>
    <p>Rentalax: Where Renting Meets Relaxation - Your Trusted Source for Stress-Free Rentals!</p>
</div>
