@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rentalax</h1>
    <h4>Rentalax: Where Renting Meets Relaxation!</h4>
    <p>Welcome to RentaLax, where you can easily rent out your belongings or discover unique items for rent at prices set by their owners. 
        Whether you have something special to offer or you're looking for a specific item, our platform connects people like you. List your items 
        with your preferred rental price, and interested renters can reach out to you through your ContactEmail. If your item is one-of-a-kind and 
        can't be found elsewhere, you can add a unique description and type to make it stand out.</p>
    <a asp-controller="Items" asp-action="Index">
        <button class="btn btn-primary">Browse/Post Rentals</button>
    </a>
    <a asp-controller="ItemTypes" asp-action="Index">
        <button class="btn btn-primary">Add Types</button>
    </a>
</div>
